
    <div class="container">
       
        <div style="        margin-top: 2%;
        margin-left: 5%; color: gold; font-family: 'Bradley Hand ITC'">
            <h1 style="margin-top:2%; color:gold; font-size:50px;  font-family:'Bradley Hand ITC'">
            # Palkkasov€llus / etusivu</h1>
            <br /><br /><br />

            <h1>TIETOJA PROJEKTISTA:</h1>
            <br />
            <h2 >-ASP.NET CORE MVC</h2>
            <h2>-AZURE APP SERVICE</h2>
            <h2>-MONIKERROKSINEN N-TIER ARKKITEHTUURI</h2>
            <h2 >-EF CORE -code first</h2>
            <h2>-SQL AZURE.</h2>
            <h2 >-C# Razor - Bootstrap - CSS Käyttöliittymä.</h2>
            
        </div>
    </div>