@model MaksuDetailViewModel

@{ ViewBag.Title = "Palkkasovellus | maksun tiedot";}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Etusivu</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Maksun tiedot</li>
                </ol>
            </nav><br /><br />
            <form>
                <div class="form-row">
                    <div class="form-group col-md-2 font-weight-bold">
                        <label asp-for="Kokonimi"></label>
                    </div>
                    <div class="form-group col-md-4 font-italic font-weight-bolder">
                        <input asp-for="Kokonimi" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-2">

                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Elakemaksu"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Sotu" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div><br /><br />
                <h3>Pvm ja tunnit</h3>
                <hr style="background-color:crimson" />
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label asp-for="Maksukuukausi"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Maksukuukausi" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Vuosi"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Vuosi" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Maksupaiva"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Maksupaiva" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label asp-for="Tuntipalkka"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Tuntipalkka" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="TehdytTunnit"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="TehdytTunnit" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="SaannolTunnit"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="SaannolTunnit" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4">

                    </div>

                    <div class="form-group col-md-1">
                        <label asp-for="YlityoTuntipalkka"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="YlityoTuntipalkka" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Ylityotunnit"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Ylityotunnit" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div><br />
                <h3>Pidätykset</h3>
                <hr style="background-color:crimson" />
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label asp-for="Veronumero"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Veronumero" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Vero"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Vero" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Elakemaksu"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Elakemaksu" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">

                    </div>

                    <div class="form-group col-md-1">
                        <label asp-for="Sotumaksu"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Sotumaksu" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Tyottomyysvakuutus"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Tyottomyysvakuutus" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Jasenmaksu"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Jasenmaksu" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-8">

                    </div>


                    <div class="form-group col-md-1 font-weight-bold">
                        <label asp-for="VahennuksetYhteensa"></label>
                    </div>
                    <div class="form-group col-md-3 font-weight-bolder">
                        <input asp-for="VahennuksetYhteensa" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div><br />
                <h3>Ansiotulo</h3>
                <hr style="background-color:crimson" />
                <div class="form-row">
                    <div class="form-group col-md-1">
                        <label asp-for="SaannolPalkka"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="SaannolPalkka" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1">
                        <label asp-for="Ylityopalkka"></label>
                    </div>
                    <div class="form-group col-md-3">
                        <input asp-for="Ylityopalkka" class="form-control" readonly style="background-color: #293043" />
                    </div>
                    <div class="form-group col-md-1 font-weight-bold">
                        <label asp-for="PalkkaYhteensa"></label>
                    </div>
                    <div class="form-group col-md-3 font-weight-bolder">
                        <input asp-for="PalkkaYhteensa" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">

                    </div>

                    <div class="form-group col-md-1 font-weight-bold">
                        <label asp-for="Nettopalkka"></label>
                    </div>
                    <div class="form-group col-md-3 font-weight-bolder">
                        <input asp-for="Nettopalkka" class="form-control" readonly style="background-color: #293043" />
                    </div>
                </div><br /><br />
            </form><br /><br />
        </div>
    </div>
</div>
